
  .logo{
margin-top:5px; 
margin-right:10px;
 margin-left:15px;
height:84px;
width:87px;
}
.navi1{
margin-right: -60px;
    margin-left: -64px;
}
.navi2{
margin-right: -40px;
    margin-left: 15px;
}
.navi3{
margin-right: -9px;
    margin-left: 38px;
 
}
.navi4{
margin-right: -38px;
    margin-left: 2px;
 
}
.textlogo{
font-size:50px; 
font-family: Times New Roman ; 
font-weight: bold;
font-style: italic;
color:white;
 margin-top:-65px;
 margin-right:10px;
 margin-left:105px;
 font-size:38px;
}
 